
a {outline: none; color: inherit; text-decoration: inherit;}
ul {list-style: none; margin: 0; padding: 0; }
body {margin: 0; padding: 0;background: url(images/back.jpg) center top no-repeat black; font-family: sans-serif; overflow-y: scroll;}
#header {background: url(images/logof1.png) 50px no-repeat;	width: 1025px;	margin: 30px auto;	height: 80px; clear: both; position: relative;}
#header a {position: absolute; left: 50px; width: 150px; height: 80px; display: block;}
#contenedor, #footer {	overflow: auto;	width: 965px;	margin: 0 auto;	background: #D9D9D9;}

#login { min-width: 965px; background: url(images/back.jpg); overflow: auto; padding: 3px 20px; color: white; border-bottom: 2px solid #000000;}
#login form { display: block; float: left; }
#login span {float: right; line-height: 25px; display: block;}
#login span a {font-size: 0.9em;}
#login span a:hover {text-decoration: underline;}

#contenido {width: 695px;	padding: 10px;	float: left;}
#lateral {	width: 235px;	margin: 12px 5px 0 0;	float: right;}

.pilot {display: inline-block; margin: 2px; padding: 2px 5px; background: #EFEFEF; font-size: 0.8em;}
.pilot .bloque {background: white; width: 125px; margin: 5px auto; font-size: 0.72em; }
.pilot .bloque a {text-decoration: none; color: #777777;}
.pilot .bloque a:hover {color: #555555;}

.equip {background: white; margin-bottom: 10px; clear: both; overflow: auto;}
.equip img {margin-right: 1px; }
.equip .bloque img { display: block; float: left;}
.equip .bloque img:first-of-type { width: 316px; }
.equip .bloque a:last-of-type { width: 312px; text-decoration: none; color: #777777; line-height: 25px; font-size: .9em; display: block; float: left; clear: left; margin-left: 5px;}
.equipo .p_equipo {float: right; display: block; }

#lateral ul {list-style: none; margin: 0 0 10px; padding: 10px 0; background: white; }
#lateral #lat_head2 {background: black; color: white; text-transform: uppercase; font-size: 0.95em;}
#lateral #lat_head a{display: block; background: url(images/verde.jpg); height: 60px; margin-bottom: 10px;}
#lateral #lat_head a:hover{background: url(images/verde.jpg) 0 -60px;}
#lateral #lat_head2 a{display: block;line-height: 35px; background: url(images/header_arrow.png); padding-left: 10px;  color: white; text-decoration: none;}
#lateral #lat_head2 a:hover {background: url(images/header_arrow.png) 0 -35px;}
#lateral ul li {list-style: none; margin: 0;}
#lateral ul li a {display: block; color: rgb(90,90,90); font-size: 0.8em;}
#lateral ul li a:hover {color: #FF5500;}
#lateral ul li a .clasif1 { display: inline-block; width: 10px; padding: 8px 10px;}
#lateral ul li a .clasif2 { display: inline-block; width: 135px; padding: 8px 10px;}
#lateral ul li a .clasif3 { display: inline-block; width: 30px; padding: 8px 10px;}
#lateral .elemento a{display: block; background: url(images/elem_bg.jpg) -20px 0; line-height: 35px; margin-bottom: 5px; padding-left: 10px; color: red; text-decoration: none; font-size: 0.9em;}
#lateral .elemento a:hover{background: url(images/elem_bg.jpg) -20px -35px;}

#menu ul { margin: 0; padding: 0; height: 35px; background: url(images/menu_bg.jpg);}
#menu ul li { float: left; list-style-type: none;}
#menu ul li a {display: block; line-height: 35px; font-size: 0.8em; padding: 0 20px; color: white; background-image: url(images/menu_bg.jpg); background-position: 0 0; transition: background-position .5s; -webkit-transition: background-position .5s; }
#menu ul li a:hover {background-position: 0 -35px; color: red; transition: all .5s; -webkit-transition: .5s; }


#footer { height: 105px; background: url(images/logof1.png) 10px no-repeat,  url(images/footer_logo.png) right no-repeat, url(images/footer_bg.png) repeat-x;}
#footer #enlaces {width: 400px; margin: 20px auto;}
#footer #enlaces a {color: red; text-decoration: none; margin: 10px; font-size: 0.9em;}
#footer #enlaces a:hover {text-decoration: underline;}

#t_piloto {	width: 100%;	background: white;	font-size: 0.8em; border-collapse: collapse;}
#t_piloto td {padding: 2px 10px; vertical-align: top;}
#t_piloto tr #col_img { width: 330px; margin: 0; padding: 0;}
#t_piloto tr #col_img img { display:block; margin: 0; padding: 0;}
#t_piloto #piloto_btn { display: block; background: url(images/driver_btn.gif); height: 40px; font-weight: bold; padding: 10px 15px; color: white; text-decoration: none; font-size: 1.3em;}
#t_piloto #piloto_btn:hover { background: url(images/driver_btn.gif) 0 -60px; }


#about {width: 100%; height: 100%; background: rgba(0,0,0,0.8); position: fixed; top: 0; left: 0; }
#about #mensaje {width: 300px; background: rgb(255,255,255); position: absolute; top: 50%; left: 50%; margin-top: -100px; margin-left: -150px; border-radius: 20px; text-align: center; padding: 50px 0; line-height: 33px; }


#register { display: block; padding: 20px; }
#register label { display: inline-block; width: 200px; }
#register .form_input { padding: 2px 0;}
#register input {outline: none !important;}
#register .form_input input[type="text"], #register .form_input input[type="password"] { background: rgba(0,0,0,0.2); color: #000000; border: 2px solid #333333; padding: 1px 3px; }
#register h2 { font-style:italic; }
#register #legal { height: 200px; overflow-y: scroll; margin: 0 10px; text-align: justify; padding: 0 10px; border: 2px solid rgba(255,255,255,0.7); background: rgba(0,0,0,0.2); font-size: 11pt; line-height: 20px;}
#register #legal_header {font-weight: bold; line-height: 55px; clear: left; display: block;}
#register .form_der, #register .form_izq {float: left; box-sizing: border-box; width: 50%;}
#register #div_enviar { text-align: center; padding: 15px 0; }
#register #div_enviar input { cursor: pointer; margin: 0 5px; display: inline-block; padding: 10px 20px; color: white; background-image: url(images/menu_bg.jpg); background-position: 0 0; border: 1px solid white; }
#register #div_enviar input:hover {color: red; }

#redirect { text-align: center; padding-bottom: 40px;}
#redirect input {display: block; margin: 5px auto; width: 200px; }
#redirect input[type="submit"] {width: auto; }
#redirect a { color: red; }

#perfil_contenido {padding: 10px; overflow: auto;}
#perfil_contenido h2 {text-align: center;}
#perfil_contenido #foto {display: block; float: right; width: 300px; }
#perfil_contenido #datos {float: left; width: 635px; }
#perfil_contenido #avatar { float: left;  width: 150px; display: block; text-align: center;}
#perfil_contenido #avatar img {width: 100%;border: 5px solid white; border-radius: 10px; }
#perfil_contenido ul {float: left; list-style-type: disc; margin-left: 40px; }

#subir { text-align: center; display: block; width: 100%;}
#subir img { display: block; width: 150px; height: 150px; margin: 30px auto; border: 5px solid white; border-radius: 10px; }

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}
